{
    "extends": ["airbnb-typescript", "prettier", "plugin:import/errors", "plugin:import/warnings", "plugin:import/typescript"],
    "plugins": ["prettier", "@typescript-eslint", "import"],
    "parser": "@typescript-eslint/parser",
    "rules": {
      "prettier/prettier": ["error"],
      // turn on errors for missing imports
      "import/no-unresolved": "error"
    },
    "settings": {
      "import/parsers": {
        "@typescript-eslint/parser": [".ts", ".tsx"]
      },
      "import/resolver": {
        "typescript": {
          "alwaysTryTypes": true, // always try to resolve types under `<root>@types` directory even it doesn't contain any source code, like `@types/unist`
          
          // use <root>/path/to/folder/tsconfig.json
          "project": "./tsconfig.json"
        }
      }
    },
    "env": {
        "browser": true,
        "es6": true
    },
    "parserOptions": {
      "project": "./tsconfig.json"
    }
}