
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* this file is loaded by index.html and styles the page */
#typing-test {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}

.indicators__container {
  max-width: 720px;
  margin: 10px 0;
}

.indicators {
  max-width: 720px;
  margin: 10px 0;
}

.words__container {
  display: flex;
  align-items: center;
  margin: 10px 0;
  max-width: 720px;
}

.words {
  max-width: 720px;
  margin: 10px 0;
}

span {
  font-size: 32px;
  font-family: 'Roboto Mono', monospace;
  color: #232a28;
}

.active {
  background: #97bafa;
}

.error {
  background: #DB5461;
}