
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  // Colors
  --blue: #97bafa;
  --red: #DB5461;
  --black: #232a28;

  // Spacing
  --spacing-01: 0.625rem;
  --spacing-02: 1.25rem;

  // Content size
  --size-03: 45rem; 

  // Font size
  --font-md: 2rem;
}

/* this file is loaded by index.html and styles the page */
.typing-test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  &__container {
    margin: var(--spacing-02);
  }
  
  &__indicators {
    max-width: var(--size-03);
    margin: var(--spacing-01) 0;

    &-container {
      max-width: var(--size-03);
      margin: var(--spacing-01) 0;
    }
  }
  
  &__words {
    max-width: var(--size-03);
    margin: var(--spacing-01) 0;

    &-container {
      display: flex;
      align-items: center;
      margin: var(--spacing-01) 0;
      max-width: var(--size-03);
    }
  }
  
  span {
    color: var(--black);
    font-family: 'Roboto Mono', monospace;
    font-size: var(--font-md);
  }
}

.active {
  background: var(--blue);
}

.error {
  background: var(--red);
}

.opacity--0 {
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
}

.opacity--1 {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.2s;
}